// #region : Green
.cs-text-green {
  color: var(--color-green);
}

.cs-text-secondary-green {
  color: var(--color-secondary-green);
}

.cs-text-subtle-green {
  color: var(--color-subtle-green);
}

.cs-text-light-green {
  color: var(--color-light-green);
}

.cs-text-pale-green {
  color: var(--color-pale-green);
}

.cs-text-hover-green {
  &:hover {
    color: var(--color-green);
  }
}

.cs-text-hover-secondary-green {
  &:hover {
    color: var(--color-secondary-green);
  }
}

.cs-text-hover-subtle-green {
  &:hover {
    color: var(--color-subtle-green);
  }
}

.cs-text-hover-light-green {
  &:hover {
    color: var(--color-light-green);
  }
}

.cs-text-hover-pale-green {
  &:hover {
    color: var(--color-pale-green);
  }
}
// #endregion
// #region : Orange
.cs-text-orange {
  color: var(--color-orange);
}

.cs-text-secondary-orange {
  color: var(--color-secondary-orange);
}

.cs-text-subtle-orange {
  color: var(--color-subtle-orange);
}

.cs-text-light-orange {
  color: var(--color-light-orange);
}

.cs-text-pale-orange {
  color: var(--color-pale-orange);
}

.cs-text-hover-orange {
  &:hover {
    color: var(--color-orange);
  }
}

.cs-text-hover-secondary-orange {
  &:hover {
    color: var(--color-secondary-orange);
  }
}

.cs-text-hover-subtle-orange {
  &:hover {
    color: var(--color-subtle-orange);
  }
}

.cs-text-hover-light-orange {
  &:hover {
    color: var(--color-light-orange);
  }
}

.cs-text-hover-pale-orange {
  &:hover {
    color: var(--color-pale-orange);
  }
}
// #endregion
// #region : Blue
.cs-text-blue {
  color: var(--color-blue);
}

.cs-text-secondary-blue {
  color: var(--color-secondary-blue);
}

.cs-text-subtle-blue {
  color: var(--color-subtle-blue);
}

.cs-text-light-blue {
  color: var(--color-light-blue);
}

.cs-text-pale-blue {
  color: var(--color-pale-blue);
}

.cs-text-hover-blue {
  &:hover {
    color: var(--color-blue);
  }
}

.cs-text-hover-secondary-blue {
  &:hover {
    color: var(--color-secondary-blue);
  }
}

.cs-text-hover-subtle-blue {
  &:hover {
    color: var(--color-subtle-blue);
  }
}

.cs-text-hover-light-blue {
  &:hover {
    color: var(--color-light-blue);
  }
}

.cs-text-hover-pale-blue {
  &:hover {
    color: var(--color-pale-blue);
  }
}
// #endregion
// #region : Red
.cs-text-red {
  color: var(--color-red);
}

.cs-text-secondary-red {
  color: var(--color-secondary-red);
}

.cs-text-subtle-red {
  color: var(--color-subtle-red);
}

.cs-text-light-red {
  color: var(--color-light-red);
}

.cs-text-pale-red {
  color: var(--color-pale-red);
}

.cs-text-hover-red {
  &:hover {
    color: var(--color-red);
  }
}

.cs-text-hover-secondary-red {
  &:hover {
    color: var(--color-secondary-red);
  }
}

.cs-text-hover-subtle-red {
  &:hover {
    color: var(--color-subtle-red);
  }
}

.cs-text-hover-light-red {
  &:hover {
    color: var(--color-light-red);
  }
}

.cs-text-hover-pale-red {
  &:hover {
    color: var(--color-pale-red);
  }
}
// #endregion
// #region : White
.cs-text-white {
  color: var(--color-white);
}

.cs-text-hover-white {
  &:hover {
    color: var(--color-white);
  }
}
// #endregion
// #region : Black
.cs-text-black {
  color: var(--color-black);
}

.cs-text-secondary-black {
  color: var(--color-secondary-black);
}

.cs-text-subtle-black {
  color: var(--color-subtle-black);
}

.cs-text-light-black {
  color: var(--color-light-black);
}

.cs-text-pale-black {
  color: var(--color-pale-black);
}

.cs-text-hover-black {
  &:hover {
    color: var(--color-black);
  }
}

.cs-text-hover-secondary-black {
  &:hover {
    color: var(--color-secondary-black);
  }
}

.cs-text-hover-subtle-black {
  &:hover {
    color: var(--color-subtle-black);
  }
}

.cs-text-hover-light-black {
  &:hover {
    color: var(--color-light-black);
  }
}

.cs-text-hover-pale-black {
  &:hover {
    color: var(--color-pale-black);
  }
}
// #endregion
