.cs-fz-56 {
  font-size: 56px;
  line-height: 62px;
}

.cs-fz-48 {
  font-size: 48px;
  line-height: 52px;
}

.cs-fz-32 {
  font-size: 32px;
  line-height: 38px;
}

.cs-fz-28 {
  font-size: 28px;
  line-height: 34px;
}

.cs-fz-24 {
  font-size: 24px;
  line-height: 30px;
}

.cs-fz-20 {
  font-size: 20px;
  line-height: 32px;
}

.cs-fz-18 {
  font-size: 18px;
  line-height: 24px;
}

.cs-fz-16 {
  font-size: 16px;
  line-height: 26px;
}

.cs-fz-14 {
  font-size: 14px;
  line-height: 22px;
}

.cs-fz-12 {
  font-size: 12px;
  line-height: 18px;
}
